@import "../../../assets/scss/mixins.scss";
@import "../../../assets/scss/variables.scss";

.about {
  width: 100%;
  padding: 60px 0;
  .about__container {
    margin: auto;
    width: 90%;
    .titre {
      text-align: center;
    }
    .container__identity {
      padding: 30px 0;
      width: 100%;
      border: 2px solid green;
      div {
        border: 2px solid red;
      }
      .identity__text {
        p {
          font-size: 22px;
          color: $secondary-font;
        }
      }
    }
  }
}
