<section class="about">
    <div class="about__container">
        <app-title [title] = "currentTitle"></app-title>
        <div class="row container__identity">
            <div class="col-md-6 identity__photo">
                <h2>This place is for the photo</h2>
            </div>
            <div class="col-md-6 identity__text">
                <h3>Je m'appelle Jordan Mosongo</h3>
                <p> Je suis un développeur fullStack travaillant principalement dans les environnements où 
                    le javascript, typeScript et dart sont des langages favoris. Ma passion pour l'informatique
                a pris l'envol le jour de mon inscription au département des Mathématiques et Informatique à l'Université de Kinshasa.</p>
                <p>Dès lors, j'ai commencé à apprendre les langages de programmations dont le QBasic, Visual Basic, C, et C#. Puis j'ai porté l'intérêt vers 
                    le web et mobile avec javascript, typeScript et dart </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis aliquam quasi consequuntur, nobis vero error animi perferendis asperiores, 
                    eveniet dolor consectetur dolores commodi sequi sed illum, amet laborum? Quis, odio!</p>
            </div>
        </div>
    </div>
</section>
